Hotels.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> First Hotel: includes an optional 'Rating' attribute  Second Hotel: does not have the optional 'Rating' attribute </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Phone" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation> Only one phone here, but you can add more &lt;Phone> elements as needed </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Number"/>
                    <xs:element type="xs:string" name="Street"/>
                    <xs:element type="xs:string" name="City"/>
                    <xs:element type="xs:string" name="State"/>
                    <xs:element type="xs:int" name="Zip"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="NearestAirport" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="Rating" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>